@model HagagCompany.Entities.Employee;
@{
    var empolyee = Model;
}
<head>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <style>
        .modal-backdrop-blur {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1040;
            background-color: rgba(0,0,0,0.5);
            backdrop-filter: blur(5px);
        }
    </style>

</head>
<div class="modal fade" id="DetailsEmpolyee-@empolyee.EmpolyeeId" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="DetailsEmpolyeeLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered ">
        <div class="modal-content">
            <div class="modal-header text-bg-dark shadow ">
                <h1 class="modal-title fs-5" id="DetailsEmpolyeeLabel">Employee Details</h1>
                <button type="button" class="btn-close btn btn-close-white" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-title">
                <table class="table table-bordered mb-0">

                    <tbody>
                        <tr>
                            <th scope="row">ID</th>
                            <td>1</td>

                        </tr>
                        <tr>
                            <th scope="row">Employee ID</th>
                            <td>@empolyee.EmpolyeeId</td>

                        </tr>
                        <tr>
                            <th scope="row">First Name</th>
                            <td colspan="2">@empolyee.FirstName</td>
                        </tr>
                        <tr>
                            <th scope="row">Last Name</th>
                            <td colspan="2">@empolyee.LastName</td>
                        </tr>
                        <tr>
                            <th scope="row">Email ID</th>
                            <td colspan="2">@empolyee.EmailId</td>
                        </tr>
                        <tr>
                            <th scope="row">Phone Number</th>
                            <td colspan="2">@empolyee.PhoneNumber</td>
                        </tr>
                        <tr>
                            <th scope="row">Job</th>
                            <td colspan="2">@empolyee.JobId</td>
                        </tr>
                        <tr>
                            <th scope="row">Joining Data</th>
                            <td colspan="2">@empolyee.JoiningDate</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <a data-bs-toggle="modal" data-bs-target="@("#EditEmpolyee-" + empolyee.EmpolyeeId)" data-url="@Url.Action($"Edit/{empolyee.EmpolyeeId}")">
                    <button type="button" class="btn btn-warning">
                        Edit Details
                    </button>
                </a>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#DetailsEmpolyee-@empolyee.EmpolyeeId').on('show.bs.modal', function (e) {
            $('body').append('<div class="modal-backdrop modal-backdrop-blur"></div>');
        });

        $('#DetailsEmpolyee-@empolyee.EmpolyeeId').on('hidden.bs.modal', function (e) {
            $('.modal-backdrop-blur').remove();
        });
    });
</script>
